<div class="dlg-container">
	<h1 class="title">{{ title }}</h1>
	<button class="toggle-desc"><span class="fa fa-question-circle"></span></button>
	<div class="description">
	</div>
	<div class="content">
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Main Facility is {{mainfacility}}</label>
				</div>
			</div>
		</div>
		<comp-name [where] = "indicator"></comp-name>
		<comp-address [where] = "indicator"></comp-address>
		<div class="row gutter-10">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Open Times</label>
					<input type="time" id="add-logo" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Closed Times</label>
					<input type="time" id="add-heading" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Facebook Page</label>
					<input type="url" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Twitter username</label>
					<input type="text" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Add Logo</label>
					<input type="file" id="add-logo" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Add Heading Picture</label>
					<input type="file" id="add-heading" class="form-control"/>
				</div>
			</div>
		</div>
		<comp-sports></comp-sports>
		<div class="row gutter-10">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Field Type</label>
					<div class="form-border">
						<select type="number" class="form-control" [(ngModel)]="selSubSport" (ngModelChange)="getSubSport($event)" [disabled] = "ifSubSport">
							<option [value]="">{{emptyLabel}}</option>
							<option *ngFor="let subSport of subSports" [value]="subSport.sport_name">{{subSport.sport_name}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>&nbsp;</label>
					<div class="form-border">
						<select type="number" class="form-control" [(ngModel)]="selSubSport" (ngModelChange)="getSubSport($event)" [disabled] = "ifSubSport">
							<option [value]="">{{emptyLabel}}</option>
							<option *ngFor="let subSport of subSports" [value]="subSport.sport_name">{{subSport.sport_name}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Size</label>
					<div class="form-border-line">
						<input type="text" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>&nbsp;</label>
					<div class="form-border">
						<select type="number" class="form-control" [(ngModel)]="selSubSport" (ngModelChange)="getSubSport($event)" [disabled] = "ifSubSport">
							<option [value]="">{{emptyLabel}}</option>
							<option *ngFor="let subSport of subSports" [value]="subSport.sport_name">{{subSport.sport_name}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>
						Night Lights
						<input type="radio" name="team" value="yes"/>Yes
						<input type="radio" name="team" value="no"/>No
					</label>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Notes</label>
					<div class="form-border"><textarea></textarea></div>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<button type="button" class="btn btn-block" [disabled] = "ifCreate"><i class="fa fa-plus" aria-hidden="true"></i>Add Sports</button>
			</div>
		</div>
		<comp-cac [where] = "'a ' +indicator"></comp-cac>
	</div>
</div>