<div class="dlg-container">
	<h1 class="title">{{ title }}</h1>
	<button class="toggle-desc"><span class="fa fa-question-circle"></span></button>
	<div class="description">
	</div>
	<div class="content">
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Main Organization is {{mainorg}}</label>
				</div>
			</div>
		</div>
		<comp-name [where] = "indicator"></comp-name>
		<comp-address [where] = "indicator"></comp-address>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Suborganization Notes</label>
					<textarea></textarea>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Suborganization iFrame</label>
					<input type="text" [disabled]="true" class="form-control offset-right-50" [value]="teamiframe" />
					<button class="right-50">Copy<i class="fa fa-link"></i></button>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Organization or Suborganization</label>
					<select type="number" class="form-control" [(ngModel)]="selSport" (ngModelChange)="getSport($event)">
						<option *ngFor="let sport of sports" [value]="sport.sport_name">{{sport.sport_name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Facebook Page</label>
					<input type="url" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Twitter username</label>
					<input type="text" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row gutter-10">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Add Logo</label>
					<input type="file" id="add-logo" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label>Add Heading Picture</label>
					<input type="file" id="add-heading" class="form-control"/>
				</div>
			</div>
		</div>
		<comp-sports></comp-sports>
		<div class="row gutter-10">
			<div class="col-xs-12">
				<button type="button" class="btn btn-block" [disabled] = "ifCreate"><i class="fa fa-plus" aria-hidden="true"></i>Add Sports</button>
				<button type="button" class="btn btn-block" [disabled] = "ifCreate"><i class="fa fa-plus" aria-hidden="true"></i>Add Adaptive Sports</button>
			</div>
		</div>
		<comp-cac [where] = "'a ' +indicator"></comp-cac>
	</div>
</div>